.ListaRestaurantes {
  margin-top: 1.5rem;
  padding: 2rem;
  
    &__botao{
      border: none;
      border-radius: 10px;
      cursor: pointer;
      color: #000;
      background-color: #f2f6ff;
      padding: 1rem;
      margin-top: 1rem;
      font-size: 14px;
      font-weight: 600;
    }

    &__botao:hover{
      background-color: #d3dffb;
      color: #2e2c2c;
    }
}
